<header>
    <div class="container1" id="info">
        <h2>행운의 포춘쿠키!!!!</h2>

        <p>포춘쿠키가 말해주는 당신의 오늘의 운세! 신중하게 포춘쿠키를 열어보세요! 당신의 오늘 운세를 알려드려요!</p>
        <p>↓↓포춘쿠키 결과를 알고 싶으시면 아래 버튼을 클릭하세요↓↓</p>

        <a href="/pick/picked" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">포춘쿠키 뽑기!</a>
      
    </div>
</header>